<header>
    <%= link_to "Home", stories_path %>
    <%= link_to "Write a story", new_story_path %>
</header>
  
<h1> <%= @tag.name %> stories</h1>

<br>

<% @stories.each do |story| %>
    <% story.story_tags.each do |story_tag| %>
      <% if story_tag.tag_id == @tag.id %>
          <h3><%= story.subject %></h3><br>
          <div class="story_content_show_page"><%= story.content %></div><br><br>
      <% end %>
  <% end %>
<% end %> 