  <header>
      <%= link_to "Home", stories_path %>
      <%= link_to "Write a story", new_story_path %>
  </header>
  
  <h1> <%= @writer.name %> </h1>

<% @writer.stories.each do |story| %><br>
    <h4><%= story.subject %><br></h4>
  <p> <div class="story_content_show_page"> <%= story.content %></div></p>
    <br>
    <% end %>