<%= form_with model: @story do |f| %>
    <p>Select your name  <%= f.collection_select :writer_id, @writers, :id, :name, {prompt: true} %></p>
    
    <p>Or enter your name:

    <%= f.fields_for :writers do |writer| %> 
        <%= writer.text_field :name %></p>
    <% end %>
    <br>
    <p>Who are you writing about? <%= f.text_field :subject %><br><br></p>

   <p> What's their story: </p>  <textarea id="styled" <%= f.text_area :content %> </textarea>
   
   <br><br>

    <p>In which country did this story happen? <%= f.collection_select :country_id, @countries, :id, :name %><br><br></p>

    <p>How would you categorize your story? <br><br></p>
        <% @tags.each do |tag| %>
           <%= f.check_box :tags, {:multiple => true}, tag.id %>
           <%= f.label tag.name %>
        <%end%>
        <br>
        <br>
    <button>
    <%= f.submit 'Create / Update', :class => 'create_update_buttons'%>
    </button>
<% end %>