<%= form_with model: @story do |f| %>
    <p>Select your name  <%= f.collection_select :writer_id, @writers, :id, :name, {prompt: true} %></p>
    
    <p>Or enter your name:</p>

    <%= f.fields_for :writers do |writer| %> 
        <p>Name  <%= writer.text_field :name %></p>
    <% end %>
    <br>
    <p>Who are you writing about? <%= f.text_field :subject %><br><br></p>
    <div class="story_content">
   <p> What's their story: <%= f.text_area :content %><br><br></p>
    </div>
    <p>In which country ? <%= f.collection_select :country_id, @countries, :id, :name %><br><br></p>

    <p>How would you categorize your story? <br><br></p>
        <% @tags.each do |tag| %>
           <%= f.check_box :tags, {:multiple => true}, tag.id %>
           <%= f.label tag.name %>
        <%end%>
        <br>
        <br>
    <%= f.submit %>
<% end %>