<h1>Create your own story</h1> 

<%= form_with model: @story do |f| %>
    Select your name  <%= collection_select :story, :writer_id, @writers, :id, :name %>
    
    or enter your name & age:
    <%= f.text_field :name %>
    <%= f.number_field :age %><br><br> 
    
    Who are you writing about? <%= f.text_field :subject %><br><br>

    What's their story: <%= f.text_field :content %><br><br>

    In which country? <%= collection_select :story, :country_id, @countries, :id, :name %><br><br>

    How would you categorize your story? <br><br>
        <% @tags.each do |tag| %>
            <%= f.check_box :tags, {:multiple => true}, tag.id %>
            <%= f.label tag.name %> 
        <%end%>
<% end %>